@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply touch-manipulation rounded-none;
	}
	.cs-link {
		@apply text-primary hover:text-accent;
	}
	.card-body {
		@apply text-base;
	}
	.text-habitable {
		@apply text-[#00FF00];
	}
	.text-uninhabitable {
		@apply text-[#FF0000];
	}
	.text-terraformable {
		@apply text-[#FEFF00];
	}
	.text-ironium {
		@apply text-[#0960ff];
	}
	.text-boranium {
		@apply text-[#08810a];
	}
	.text-germanium {
		@apply text-[#feff00] brightness-[.8] dark:brightness-100;
	}
	.ironium-bar {
		@apply bg-[#0900ff];
	}
	.boranium-bar {
		@apply bg-[#00ff00];
	}
	.germanium-bar {
		@apply bg-[#ffff00];
	}
	.colonists-bar {
		@apply bg-[#ffffff];
	}
	.ironium-concentration {
		@apply stroke-[#020085] fill-[#020085];
	}
	.boranium-concentration {
		@apply stroke-[#008100] fill-[#008100];
	}
	.germanium-concentration {
		@apply stroke-[#7f7f00] fill-[#7f7f00];
	}
	.fuel-bar {
		@apply bg-[#FF0000];
	}
	.warp-bar {
		@apply bg-[#FF0000];
	}
	.warp-danger-bar {
		@apply bg-[#FF0000];
	}
	.warp-warn-bar {
		@apply bg-[#FFFF00];
	}
	.warp-stargate-bar {
		@apply bg-[#008100];
	}
	.grav-bar {
		@apply bg-[#020085];
	}
	.temp-bar {
		@apply bg-[#8B0000];
	}
	.rad-bar {
		@apply bg-[#008100];
	}
	.grav-point {
		@apply stroke-[#0900FF] fill-[#0900FF];
	}
	.temp-point {
		@apply stroke-[#FF0000] fill-[#FF0000];
	}
	.rad-point {
		@apply stroke-[#00FF00] fill-[#00FF00];
	}
	.scanner {
		@apply fill-[#8B0000];
	}
	.scanner-pen {
		@apply fill-[#7F7F00];
	}
}

/* hide number spinner */
.hide-spinner input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hide-spinner input[type='number'] {
	-moz-appearance: textfield;
}

.waypoint-line {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: #0900ff;
}

.waypoint-line-commanded {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: #8480ff;
}

.waypoint-line-selected {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: #9d9afc;
}

.beam-line {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 3px;
	stroke: #ff0000;
}

.fleet-commanded {
	fill: '#FFFF00' !important;
}

.starbase {
	fill: #fdfd00;
	stroke: #7f7f00;
	stroke-width: 0.5;
}

.stargate {
	fill: #008100;
	stroke: #005c00;
	stroke-width: 0.5;
}

.massdriver {
	fill: #8d0085;
	stroke: #6b0065;
	stroke-width: 0.5;
}

.dark {
	color-scheme: dark;
}

.light {
	color-scheme: light;
}

/* daisyui is setting this to z-index to 11 for some reason... */
.table th:first-child {
	z-index: 0;
}
