@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scanner-background: #000000;
	--scanner-salvage: #ffff00;
	--scanner-owned-packet: #0900ff;
	--scanner-commanded-fleet: #ffff00;
	--scanner-name: #ffffff;
	--scanner-selection: #ffffff;
	--scanner-mineral-axis: #c0c0c0;
	--scanner-warp-line: #ffffff;
	--scanner-planet-owned: #00ff00;
	--scanner-planet-unexplored: #999999;
	--scanner-planet-explored: #ffffff;
	--scanner-planet-outline: #999999;
	--scanner-planet-habitable: #00ff00;
	--scanner-planet-terraformable: #ffff00;
	--scanner-planet-uninhabitable: #ff0000;
	--scanner-planet-habitable-ring: #007f00;
	--scanner-planet-terraformable-ring: #7f7f00;
	--scanner-planet-uninhabitable-ring: #7f0000;
	--scanner-planet-pop-owned: #00ff00;
	--scanner-planet-pop-owned-ring: #007f00;
	--scanner-planet-pop-friend: #ffff00;
	--scanner-planet-pop-friend-ring: #7f7f00;
	--scanner-planet-pop-enemy: #ff0000;
	--scanner-planet-pop-enemy-ring: #ff0000;
	--scanner-ironium: #0000ff;
	--scanner-boranium: #007f00;
	--scanner-germanium: #ffff00;

	--scanner-range: #8b0000;
	--scanner-range-pen: #7f7f00;
	--scanner-packet-dest: #6b0065;
	--scanner-route: #fdfd00;
	--scanner-wormhole: #8a2be2;
	--mystery-trader: #00ffff;
	--ironium-bar: #0900ff;
	--boranium-bar: #00ff00;
	--germanium-bar: #ffff00;
	--starbase-fill: #fdfd00;
	--starbase-stroke: #7f7f00;
	--starbase-fort-fill: #00007f;
	--starbase-fort-stroke: #00002f;
	--stargate-fill: #008100;
	--stargate-stroke: #005c00;
	--massdriver-fill: #8d0085;
	--massdriver-stroke: #6b0065;
	--orbit-neutral: #ffffff;
	--orbit-friends: #ffff00;
	--orbit-enemies: #ff0000;
	--orbit-mixed-ring: #ff00ff;
	--orbit-mixed-count: #eb2eeb;
	--scanner-locator: #ffffff;
}

@layer components {
	.bg-primary-focus {
		@apply bg-[color-mix(in_oklab,oklch(var(--p)),black_7%)];
	}
	.stroke-primary-focus {
		@apply stroke-[color-mix(in_oklab,oklch(var(--p)),black_7%)];
	}
	.bg-neutral-focus {
		@apply bg-[color-mix(in_oklab,oklch(var(--n)),black_7%)];
	}
	.text-secondary-focus {
		@apply text-[color-mix(in_oklab,oklch(var(--s)),black_7%)];
	}

	.btn {
		@apply touch-manipulation rounded-none;
	}
	.cs-link {
		@apply text-primary hover:text-accent;
	}
	.card-body {
		@apply text-base;
	}
	.text-habitable {
		@apply text-[#058405] dark:text-[#00FF00] font-bold;
	}
	.text-uninhabitable {
		@apply text-[#FF0000] font-bold;
	}
	.text-terraformable {
		@apply text-[#FEFF00] font-bold;
	}
	.text-fuel {
		@apply text-[#FF0000];
	}
	.text-ironium {
		@apply text-[#0960ff] font-semibold;
	}
	.text-boranium {
		@apply text-[#08810a] font-semibold;
	}
	.text-germanium {
		@apply text-[#FDFD06] font-semibold;
	}
	.text-tile-item-title {
		@apply font-semibold;
	}
	.ironium-bar {
		background-color: var(--ironium-bar);
		fill: var(--ironium-bar);
	}
	.boranium-bar {
		background-color: var(--boranium-bar);
		fill: var(--boranium-bar);
	}
	.germanium-bar {
		background-color: var(--germanium-bar);
		fill: var(--germanium-bar);
	}
	.colonists-bar {
		@apply bg-[#ffffff];
	}
	.ironium-concentration {
		@apply fill-[#020085] stroke-[#cccccc];
	}
	.boranium-concentration {
		@apply fill-[#008100] stroke-[#cccccc];
	}
	.germanium-concentration {
		@apply fill-[#7f7f00] stroke-[#cccccc];
	}
	.damage-bar {
		@apply bg-[#FF0000];
	}
	.fuel-bar {
		@apply bg-[#FF0000];
	}
	.warp-bar {
		@apply bg-[#FF0000];
	}
	.warp-danger-bar {
		@apply bg-[#FF0000];
	}
	.warp-warn-bar {
		@apply bg-[#FFFF00];
	}
	.warp-stargate-bar {
		@apply bg-[#FFFF00];
	}
	.warp-packet-bar {
		@apply bg-[#8F0087];
	}

	.grav-bar {
		@apply fill-[#500fff] bg-[#500fff];
	}
	.temp-bar {
		@apply fill-[#D60000] bg-[#D60000];
	}
	.rad-bar {
		@apply fill-[#00C200] bg-[#00C200];
	}

	.dark {
		.grav-bar {
			@apply fill-[#020085] bg-[#020085];
		}
		.temp-bar {
			@apply fill-[#8B0000] bg-[#8B0000];
		}
		.rad-bar {
			@apply fill-[#008100] bg-[#008100];
		}
	}

	.grav-point {
		@apply stroke-[#0900FF] fill-none;
	}
	.temp-point {
		@apply stroke-[#FF0000] fill-none;
	}
	.rad-point {
		@apply stroke-[#00FF00] fill-none;
	}
	.text-queue-item-skipped {
		@apply text-secondary;
	}

	.text-queue-item-never {
		@apply text-error;
	}

	.text-queue-item-this-year {
		@apply text-[#08810a];
	}

	.text-queue-item-next-year {
		@apply text-[#0960ff];
	}

	.fill-ally-selected {
		@apply fill-[#FDFD06] dark:fill-[#ffff00];
	}

	.fill-ally-current {
		@apply fill-gray-500;
	}

	.text-mystery-trader {
		color: var(--mystery-trader);
	}

	.fill-fleet-owned {
		@apply fill-[#0000FF];
	}
	.fill-fleet-neutral {
		@apply fill-base-content;
	}
	.fill-fleet-enemy {
		@apply fill-[#FF0000];
	}
	.fill-fleet-ally {
		@apply fill-[#FFFF00];
	}

	.mapobject-avatar-wrapper {
		@apply border-2 border-neutral mr-2 p-2 bg-black w-[85px] h-[85px];
	}

	.mapobject-avatar {
		@apply bg-black h-[65px] w-[65px];
	}
}

.beam-line {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 3px;
	stroke: #ff0000;
}

.starbase {
	fill: var(--starbase-fill);
	stroke: var(--starbase-stroke);
	stroke-width: 0.5;
}

.dark {
	color-scheme: dark;
}

.light {
	color-scheme: light;
}

/* daisyui is setting this to z-index to 11 for some reason... */
.table th:first-child {
	z-index: 0;
}
