.fleet-avatar {
	width: 65px;
	height: 65px;
}

.hull-small-freighter-0 {
	background: url(/images/techhulls01.png) 0px 0px;
}

.hull-small-freighter-1 {
	background: url(/images/techhulls01.png) 0px -64px;
}

.hull-small-freighter-2 {
	background: url(/images/techhulls01.png) 0px -128px;
}

.hull-small-freighter-3 {
	background: url(/images/techhulls01.png) 0px -192px;
}

.hull-medium-freighter-0 {
	background: url(/images/techhulls01.png) -64px 0px;
}

.hull-medium-freighter-1 {
	background: url(/images/techhulls01.png) -64px -64px;
}

.hull-medium-freighter-2 {
	background: url(/images/techhulls01.png) -64px -128px;
}

.hull-medium-freighter-3 {
	background: url(/images/techhulls01.png) -64px -192px;
}

.hull-large-freighter-0 {
	background: url(/images/techhulls01.png) -128px 0px;
}

.hull-large-freighter-1 {
	background: url(/images/techhulls01.png) -128px -64px;
}

.hull-large-freighter-2 {
	background: url(/images/techhulls01.png) -128px -128px;
}

.hull-large-freighter-3 {
	background: url(/images/techhulls01.png) -128px -192px;
}

.hull-super-freighter-0 {
	background: url(/images/techhulls01.png) -192px 0px;
}

.hull-super-freighter-1 {
	background: url(/images/techhulls01.png) -192px -64px;
}

.hull-super-freighter-2 {
	background: url(/images/techhulls01.png) -192px -128px;
}

.hull-super-freighter-3 {
	background: url(/images/techhulls01.png) -192px -192px;
}

.hull-scout-0 {
	background: url(/images/techhulls01.png) -256px 0px;
}

.hull-scout-1 {
	background: url(/images/techhulls01.png) -256px -64px;
}

.hull-scout-2 {
	background: url(/images/techhulls01.png) -256px -128px;
}

.hull-scout-3 {
	background: url(/images/techhulls01.png) -256px -192px;
}

.hull-frigate-0 {
	background: url(/images/techhulls01.png) -320px 0px;
}

.hull-frigate-1 {
	background: url(/images/techhulls01.png) -320px -64px;
}

.hull-frigate-2 {
	background: url(/images/techhulls01.png) -320px -128px;
}

.hull-frigate-3 {
	background: url(/images/techhulls01.png) -320px -192px;
}

.hull-destroyer-0 {
	background: url(/images/techhulls01.png) -384px 0px;
}

.hull-destroyer-1 {
	background: url(/images/techhulls01.png) -384px -64px;
}

.hull-destroyer-2 {
	background: url(/images/techhulls01.png) -384px -128px;
}

.hull-destroyer-3 {
	background: url(/images/techhulls01.png) -384px -192px;
}

.hull-cruiser-0 {
	background: url(/images/techhulls01.png) -448px 0px;
}

.hull-cruiser-1 {
	background: url(/images/techhulls01.png) -448px -64px;
}

.hull-cruiser-2 {
	background: url(/images/techhulls01.png) -448px -128px;
}

.hull-cruiser-3 {
	background: url(/images/techhulls01.png) -448px -192px;
}

.hull-battle-cruiser-0 {
	background: url(/images/techhulls02.png) 0px 0px;
}

.hull-battle-cruiser-1 {
	background: url(/images/techhulls02.png) 0px -64px;
}

.hull-battle-cruiser-2 {
	background: url(/images/techhulls02.png) 0px -128px;
}

.hull-battle-cruiser-3 {
	background: url(/images/techhulls02.png) 0px -192px;
}

.hull-battleship-0 {
	background: url(/images/techhulls02.png) -64px 0px;
}

.hull-battleship-1 {
	background: url(/images/techhulls02.png) -64px -64px;
}

.hull-battleship-2 {
	background: url(/images/techhulls02.png) -64px -128px;
}

.hull-battleship-3 {
	background: url(/images/techhulls02.png) -64px -192px;
}

.hull-dreadnought-0 {
	background: url(/images/techhulls02.png) -128px 0px;
}

.hull-dreadnought-1 {
	background: url(/images/techhulls02.png) -128px -64px;
}

.hull-dreadnought-2 {
	background: url(/images/techhulls02.png) -128px -128px;
}

.hull-dreadnought-3 {
	background: url(/images/techhulls02.png) -128px -192px;
}

.hull-privateer-0 {
	background: url(/images/techhulls02.png) -192px 0px;
}

.hull-privateer-1 {
	background: url(/images/techhulls02.png) -192px -64px;
}

.hull-privateer-2 {
	background: url(/images/techhulls02.png) -192px -128px;
}

.hull-privateer-3 {
	background: url(/images/techhulls02.png) -192px -192px;
}

.hull-rogue-0 {
	background: url(/images/techhulls02.png) -256px 0px;
}

.hull-rogue-1 {
	background: url(/images/techhulls02.png) -256px -64px;
}

.hull-rogue-2 {
	background: url(/images/techhulls02.png) -256px -128px;
}

.hull-rogue-3 {
	background: url(/images/techhulls02.png) -256px -192px;
}

.hull-galleon-0 {
	background: url(/images/techhulls02.png) -320px 0px;
}

.hull-galleon-1 {
	background: url(/images/techhulls02.png) -320px -64px;
}

.hull-galleon-2 {
	background: url(/images/techhulls02.png) -320px -128px;
}

.hull-galleon-3 {
	background: url(/images/techhulls02.png) -320px -192px;
}

.hull-mini-colony-ship-0 {
	background: url(/images/techhulls02.png) -384px 0px;
}

.hull-mini-colony-ship-1 {
	background: url(/images/techhulls02.png) -384px -64px;
}

.hull-mini-colony-ship-2 {
	background: url(/images/techhulls02.png) -384px -128px;
}

.hull-mini-colony-ship-3 {
	background: url(/images/techhulls02.png) -384px -192px;
}

.hull-colony-ship-0 {
	background: url(/images/techhulls02.png) -448px 0px;
}

.hull-colony-ship-1 {
	background: url(/images/techhulls02.png) -448px -64px;
}

.hull-colony-ship-2 {
	background: url(/images/techhulls02.png) -448px -128px;
}

.hull-colony-ship-3 {
	background: url(/images/techhulls02.png) -448px -192px;
}

.hull-mini-bomber-0 {
	background: url(/images/techhulls03.png) 0px 0px;
}

.hull-mini-bomber-1 {
	background: url(/images/techhulls03.png) 0px -64px;
}

.hull-mini-bomber-2 {
	background: url(/images/techhulls03.png) 0px -128px;
}

.hull-mini-bomber-3 {
	background: url(/images/techhulls03.png) 0px -192px;
}

.hull-b-17-bomber-0 {
	background: url(/images/techhulls03.png) -64px 0px;
}

.hull-b-17-bomber-1 {
	background: url(/images/techhulls03.png) -64px -64px;
}

.hull-b-17-bomber-2 {
	background: url(/images/techhulls03.png) -64px -128px;
}

.hull-b-17-bomber-3 {
	background: url(/images/techhulls03.png) -64px -192px;
}

.hull-stealth-bomber-0 {
	background: url(/images/techhulls03.png) -128px 0px;
}

.hull-stealth-bomber-1 {
	background: url(/images/techhulls03.png) -128px -64px;
}

.hull-stealth-bomber-2 {
	background: url(/images/techhulls03.png) -128px -128px;
}

.hull-stealth-bomber-3 {
	background: url(/images/techhulls03.png) -128px -192px;
}

.hull-b-52-bomber-0 {
	background: url(/images/techhulls03.png) -192px 0px;
}

.hull-b-52-bomber-1 {
	background: url(/images/techhulls03.png) -192px -64px;
}

.hull-b-52-bomber-2 {
	background: url(/images/techhulls03.png) -192px -128px;
}

.hull-b-52-bomber-3 {
	background: url(/images/techhulls03.png) -192px -192px;
}

.hull-midget-miner-0 {
	background: url(/images/techhulls03.png) -256px 0px;
}

.hull-midget-miner-1 {
	background: url(/images/techhulls03.png) -256px -64px;
}

.hull-midget-miner-2 {
	background: url(/images/techhulls03.png) -256px -128px;
}

.hull-midget-miner-3 {
	background: url(/images/techhulls03.png) -256px -192px;
}

.hull-mini-miner-0 {
	background: url(/images/techhulls03.png) -320px 0px;
}

.hull-mini-miner-1 {
	background: url(/images/techhulls03.png) -320px -64px;
}

.hull-mini-miner-2 {
	background: url(/images/techhulls03.png) -320px -128px;
}

.hull-mini-miner-3 {
	background: url(/images/techhulls03.png) -320px -192px;
}

.hull-miner-0 {
	background: url(/images/techhulls03.png) -384px 0px;
}

.hull-miner-1 {
	background: url(/images/techhulls03.png) -384px -64px;
}

.hull-miner-2 {
	background: url(/images/techhulls03.png) -384px -128px;
}

.hull-miner-3 {
	background: url(/images/techhulls03.png) -384px -192px;
}

.hull-maxi-miner-0 {
	background: url(/images/techhulls03.png) -448px 0px;
}

.hull-maxi-miner-1 {
	background: url(/images/techhulls03.png) -448px -64px;
}

.hull-maxi-miner-2 {
	background: url(/images/techhulls03.png) -448px -128px;
}

.hull-maxi-miner-3 {
	background: url(/images/techhulls03.png) -448px -192px;
}

.hull-ultra-miner-0 {
	background: url(/images/techhulls04.png) 0px 0px;
}

.hull-ultra-miner-1 {
	background: url(/images/techhulls04.png) 0px -64px;
}

.hull-ultra-miner-2 {
	background: url(/images/techhulls04.png) 0px -128px;
}

.hull-ultra-miner-3 {
	background: url(/images/techhulls04.png) 0px -192px;
}

.hull-fuel-transport-0 {
	background: url(/images/techhulls04.png) -64px 0px;
}

.hull-fuel-transport-1 {
	background: url(/images/techhulls04.png) -64px -64px;
}

.hull-fuel-transport-2 {
	background: url(/images/techhulls04.png) -64px -128px;
}

.hull-fuel-transport-3 {
	background: url(/images/techhulls04.png) -64px -192px;
}

.hull-super-fuel-xport-0 {
	background: url(/images/techhulls04.png) -128px 0px;
}

.hull-super-fuel-xport-1 {
	background: url(/images/techhulls04.png) -128px -64px;
}

.hull-super-fuel-xport-2 {
	background: url(/images/techhulls04.png) -128px -128px;
}

.hull-super-fuel-xport-3 {
	background: url(/images/techhulls04.png) -128px -192px;
}

.hull-mini-mine-layer-0 {
	background: url(/images/techhulls04.png) -192px 0px;
}

.hull-mini-mine-layer-1 {
	background: url(/images/techhulls04.png) -192px -64px;
}

.hull-mini-mine-layer-2 {
	background: url(/images/techhulls04.png) -192px -128px;
}

.hull-mini-mine-layer-3 {
	background: url(/images/techhulls04.png) -192px -192px;
}

.hull-super-mine-layer-0 {
	background: url(/images/techhulls04.png) -256px 0px;
}

.hull-super-mine-layer-1 {
	background: url(/images/techhulls04.png) -256px -64px;
}

.hull-super-mine-layer-2 {
	background: url(/images/techhulls04.png) -256px -128px;
}

.hull-super-mine-layer-3 {
	background: url(/images/techhulls04.png) -256px -192px;
}

.hull-meta-morph-0 {
	background: url(/images/techhulls04.png) -320px 0px;
}

.hull-meta-morph-1 {
	background: url(/images/techhulls04.png) -320px -64px;
}

.hull-meta-morph-2 {
	background: url(/images/techhulls04.png) -320px -128px;
}

.hull-meta-morph-3 {
	background: url(/images/techhulls04.png) -320px -192px;
}

.hull-mini-morph-0 {
	background: url(/images/techhulls04.png) -384px 0px;
}

.hull-mini-morph-1 {
	background: url(/images/techhulls04.png) -384px -64px;
}

.hull-mini-morph-2 {
	background: url(/images/techhulls04.png) -384px -128px;
}

.hull-mini-morph-3 {
	background: url(/images/techhulls04.png) -384px -192px;
}

.hull-nubian-0 {
	background: url(/images/techhulls04.png) -448px 0px;
}

.hull-nubian-1 {
	background: url(/images/techhulls04.png) -448px -64px;
}

.hull-nubian-2 {
	background: url(/images/techhulls04.png) -448px -128px;
}

.hull-nubian-3 {
	background: url(/images/techhulls04.png) -448px -192px;
}

.hull-orbital-fort-0 {
	background: url(/images/starbases.png) -0px -0px;
}

.hull-orbital-fort-1 {
	background: url(/images/starbases.png) -0px -64px;
}

.hull-orbital-fort-2 {
	background: url(/images/starbases.png) -0px -128px;
}

.hull-orbital-fort-3 {
	background: url(/images/starbases.png) -0px -192px;
}

.hull-space-dock-0 {
	background: url(/images/starbases.png) -64px -0px;
}

.hull-space-dock-1 {
	background: url(/images/starbases.png) -64px -64px;
}

.hull-space-dock-2 {
	background: url(/images/starbases.png) -64px -128px;
}

.hull-space-dock-3 {
	background: url(/images/starbases.png) -64px -192px;
}

.hull-space-station-0 {
	background: url(/images/starbases.png) -128px -0px;
}

.hull-space-station-1 {
	background: url(/images/starbases.png) -128px -64px;
}

.hull-space-station-2 {
	background: url(/images/starbases.png) -128px -128px;
}

.hull-space-station-3 {
	background: url(/images/starbases.png) -128px -192px;
}

.hull-ultra-station-0 {
	background: url(/images/starbases.png) -192px -0px;
}

.hull-ultra-station-1 {
	background: url(/images/starbases.png) -192px -64px;
}

.hull-ultra-station-2 {
	background: url(/images/starbases.png) -192px -128px;
}

.hull-ultra-station-3 {
	background: url(/images/starbases.png) -192px -192px;
}

.hull-death-star-0 {
	background: url(/images/starbases.png) -256px -0px;
}

.hull-death-star-1 {
	background: url(/images/starbases.png) -256px -64px;
}

.hull-death-star-2 {
	background: url(/images/starbases.png) -256px -128px;
}

.hull-death-star-3 {
	background: url(/images/starbases.png) -256px -192px;
}
