.planet-avatar {
	width: 65px;
	height: 65px;
}

.planet-0 {
	background: url(/images/planets.png) 0px 0px;
}

.planet-1 {
	background: url(/images/planets.png) -64px 0px;
}

.planet-2 {
	background: url(/images/planets.png) -128px 0px;
}

.planet-3 {
	background: url(/images/planets.png) -192px 0px;
}

.planet-4 {
	background: url(/images/planets.png) -256px 0px;
}

.planet-5 {
	background: url(/images/planets.png) -320px 0px;
}

.planet-6 {
	background: url(/images/planets.png) -384px 0px;
}

.planet-7 {
	background: url(/images/planets.png) 0px -64px;
}

.planet-8 {
	background: url(/images/planets.png) -64px -64px;
}

.planet-9 {
	background: url(/images/planets.png) -128px -64px;
}

.planet-10 {
	background: url(/images/planets.png) -192px -64px;
}

.planet-11 {
	background: url(/images/planets.png) -256px -64px;
}

.planet-12 {
	background: url(/images/planets.png) -320px -64px;
}

.planet-13 {
	background: url(/images/planets.png) -384px -64px;
}

.planet-14 {
	background: url(/images/planets.png) 0px -128px;
}

.planet-15 {
	background: url(/images/planets.png) -64px -128px;
}

.planet-16 {
	background: url(/images/planets.png) -128px -128px;
}

.planet-17 {
	background: url(/images/planets.png) -192px -128px;
}

.planet-18 {
	background: url(/images/planets.png) -256px -128px;
}

.planet-19 {
	background: url(/images/planets.png) -320px -128px;
}

.planet-20 {
	background: url(/images/planets.png) -384px -128px;
}

.planet-21 {
	background: url(/images/planets.png) 0px -192px;
}

.planet-22 {
	background: url(/images/planets.png) -64px -192px;
}

.planet-23 {
	background: url(/images/planets.png) -128px -192px;
}

.planet-24 {
	background: url(/images/planets.png) -192px -192px;
}

.planet-25 {
	background: url(/images/planets.png) -256px -192px;
}

.planet-26 {
	background: url(/images/planets.png) -320px -192px;
}

.planet-27 {
	background: url(/images/planets.png) -384px -192px;
}
