.tech-avatar {
	width: 65px;
	height: 65px;
}

.settlers-delight {
	background: url(/images/techs02.png) 0 -64px;
}

.quick-jump-5 {
	background: url(/images/techs02.png) 0px 0px;
}

.long-hump-6 {
	background: url(/images/techs02.png) -64px 0px;
}

.fuel-mizer {
	background: url(/images/techs02.png) -64px -64px;
}

.daddy-long-legs-7 {
	background: url(/images/techs02.png) -128px 0px;
}

.alpha-drive-8 {
	background: url(/images/techs02.png) -192px 0px;
}

.trans-galactic-drive {
	background: url(/images/techs02.png) -256px 0px;
}

.interspace-10 {
	background: url(/images/techs02.png) -256px -64px;
}

.trans-star-10 {
	background: url(/images/techs04.png) -320px -128px;
}

.radiating-hydro-ram-scoop {
	background: url(/images/techs02.png) -448px 0px;
}

.sub-galactic-fuel-scoop {
	background: url(/images/techs02.png) -320px 0px;
}

.trans-galactic-fuel-scoop {
	background: url(/images/techs02.png) -384px 0px;
}

.trans-galactic-super-scoop {
	background: url(/images/techs02.png) -128px -64px;
}

.trans-galactic-mizer-scoop {
	background: url(/images/techs02.png) -192px -64px;
}

.galaxy-scoop {
	background: url(/images/techs06.png) -448px -192px;
}

.viewer-50 {
	background: url(/images/techs01.png) 0px -128px;
}

.viewer-90 {
	background: url(/images/techs01.png) -64px -128px;
}

.scoper-150 {
	background: url(/images/techs01.png) -128px -128px;
}

.scoper-220 {
	background: url(/images/techs01.png) -192px -128px;
}

.scoper-280 {
	background: url(/images/techs01.png) -256px -128px;
}

.snooper-320-x {
	background: url(/images/techs01.png) -320px -128px;
}

.snooper-400-x {
	background: url(/images/techs01.png) -384px -128px;
}

.snooper-500-x {
	background: url(/images/techs01.png) -448px -128px;
}

.snooper-620-x {
	background: url(/images/techs01.png) 0px -192px;
}

.sdi {
	background: url(/images/techs01.png) 0px -64px;
}

.missile-battery {
	background: url(/images/techs01.png) -64px -64px;
}

.laser-battery {
	background: url(/images/techs01.png) -128px -64px;
}

.planetary-shield {
	background: url(/images/techs01.png) -192px -64px;
}

.neutron-shield {
	background: url(/images/techs01.png) -256px -64px;
}

.stargate-100-250 {
	background: url(/images/techs05.png) 0px -128px;
}

.stargateany-300 {
	background: url(/images/techs05.png) -64px -128px;
}

.stargate-150-600 {
	background: url(/images/techs05.png) -128px -128px;
}

.stargate-300-500 {
	background: url(/images/techs05.png) -192px -128px;
}

.stargate-100-any {
	background: url(/images/techs05.png) -256px -128px;
}

.stargateany-800 {
	background: url(/images/techs05.png) -320px -128px;
}

.stargateany-any {
	background: url(/images/techs05.png) -384px -128px;
}

.mass-driver-5 {
	background: url(/images/techs05.png) -448px -128px;
}

.mass-driver-6 {
	background: url(/images/techs05.png) 0px -192px;
}

.mass-driver-7 {
	background: url(/images/techs05.png) -64px -192px;
}

.super-driver-8 {
	background: url(/images/techs05.png) -128px -192px;
}

.super-driver-9 {
	background: url(/images/techs05.png) -192px -192px;
}

.ultra-driver-10 {
	background: url(/images/techs05.png) -256px -192px;
}

.ultra-driver-11 {
	background: url(/images/techs05.png) -320px -192px;
}

.ultra-driver-12 {
	background: url(/images/techs05.png) -384px -192px;
}

.ultra-driver-13 {
	background: url(/images/techs05.png) -448px -192px;
}

.robo-midget-miner {
	background: url(/images/techs05.png) -128px -64px;
}

.robo-mini-miner {
	background: url(/images/techs05.png) -192px -64px;
}

.robo-miner {
	background: url(/images/techs05.png) -256px -64px;
}

.robo-super-miner {
	background: url(/images/techs05.png) -320px -64px;
}

.robo-maxi-miner {
	background: url(/images/techs05.png) -384px -64px;
}

.robo-ultra-miner {
	background: url(/images/techs05.png) -448px -64px;
}

.orbital-adjuster {
	background: url(/images/techs06.png) -320px -64px;
}

.lady-finger-bomb {
	background: url(/images/techs03.png) -192px 0px;
}

.black-cat-bomb {
	background: url(/images/techs03.png) -256px 0px;
}

.m-70-bomb {
	background: url(/images/techs03.png) -320px 0px;
}

.m-80-bomb {
	background: url(/images/techs03.png) -384px 0px;
}

.cherry-bomb {
	background: url(/images/techs03.png) -448px 0px;
}

.lbu-17-bomb {
	background: url(/images/techs03.png) 0px 0px;
}

.lbu-32-bomb {
	background: url(/images/techs03.png) -64px 0px;
}

.lbu-74-bomb {
	background: url(/images/techs03.png) -128px 0px;
}

.retro-bomb {
	background: url(/images/techs06.png) -384px -64px;
}

.smart-bomb {
	background: url(/images/techs04.png) 0px -128px;
}

.neutron-bomb {
	background: url(/images/techs04.png) -64px -128px;
}

.enriched-neutron-bomb {
	background: url(/images/techs04.png) -128px -128px;
}

.peerless-bomb {
	background: url(/images/techs04.png) -192px -128px;
}

.annihilator-bomb {
	background: url(/images/techs04.png) -256px -128px;
}

.bat-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.rhino-scanner {
	background: url(/images/techs03.png) -64px -128px;
}

.mole-scanner {
	background: url(/images/techs03.png) -128px -128px;
}

.pick-pocket-scanner {
	background: url(/images/techs03.png) 0px -192px;
}

.possum-scanner {
	background: url(/images/techs03.png) -128px -128px;
}

.dna-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.chameleon-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.ferret-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.rna-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.gazelle-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.dolphin-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.cheetah-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.eagle-eye-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.elephant-scanner {
	background: url(/images/techs03.png) 0px -128px;
}

.peerless-scanner {
	background: url(/images/techs03.png) -128px -192px;
}

.robber-baron-scanner {
	background: url(/images/techs03.png) -64px -192px;
}

.tritanium {
	background: url(/images/techs01.png) 0px 0px;
}

.crobmnium {
	background: url(/images/techs01.png) -64px 0px;
}

.carbonic-armor {
	background: url(/images/techs01.png) -384px 0px;
}

.strobnium {
	background: url(/images/techs01.png) -192px 0px;
}

.organic-armor {
	background: url(/images/techs01.png) -256px 0px;
}

.kelarium {
	background: url(/images/techs01.png) -320px 0px;
}

.fielded-kelarium {
	background: url(/images/techs01.png) -384px 0px;
}

.depleted-neutronium {
	background: url(/images/techs01.png) -448px 0px;
}

.neutronium {
	background: url(/images/techs01.png) 0px 0px;
}

.valanium {
	background: url(/images/techs01.png) -128px 0px;
}

.superlatanium {
	background: url(/images/techs01.png) 0px 0px;
}

.transport-cloaking {
	background: url(/images/techs01.png) 0px 0px;
}

.stealth-cloak {
	background: url(/images/techs01.png) 0px 0px;
}

.super-stealth-cloak {
	background: url(/images/techs01.png) 0px 0px;
}

.ultra-stealth-cloak {
	background: url(/images/techs01.png) 0px 0px;
}

.battle-computer {
	background: url(/images/techs06.png) -320px 0px;
}

.battle-super-computer {
	background: url(/images/techs06.png) -384px 0px;
}

.battle-nexus {
	background: url(/images/techs06.png) -448px 0px;
}

.jammer-10 {
	background: url(/images/techs01.png) 0px 0px;
}

.jammer-20 {
	background: url(/images/techs01.png) 0px 0px;
}

.jammer-30 {
	background: url(/images/techs01.png) 0px 0px;
}

.jammer-50 {
	background: url(/images/techs01.png) 0px 0px;
}

.energy-capacitor {
	background: url(/images/techs01.png) 0px 0px;
}

.flux-capacitor {
	background: url(/images/techs01.png) 0px 0px;
}

.energy-dampener {
	background: url(/images/techs01.png) 0px 0px;
}

.tachyon-detector {
	background: url(/images/techs01.png) 0px 0px;
}

.anti-matter-generator {
	background: url(/images/techs01.png) 0px 0px;
}

.mine-dispenser-40 {
	background: url(/images/techs05.png) 0px 0px;
}

.mine-dispenser-50 {
	background: url(/images/techs05.png) -64px 0px;
}

.mine-dispenser-80 {
	background: url(/images/techs05.png) -128px 0px;
}

.mine-dispenser-130 {
	background: url(/images/techs05.png) -192px 0px;
}

.heavy-dispenser-50 {
	background: url(/images/techs05.png) -448px 0px;
}

.heavy-dispenser-110 {
	background: url(/images/techs05.png) 0px -64px;
}

.heavy-dispenser-200 {
	background: url(/images/techs05.png) -64px -64px;
}

.speed-trap-20 {
	background: url(/images/techs05.png) -256px 0px;
}

.speed-trap-30 {
	background: url(/images/techs05.png) -320px 0px;
}

.speed-trap-50 {
	background: url(/images/techs05.png) -384px 0px;
}

.colonization-module {
	background: url(/images/techs01.png) 0px 0px;
}

.orbital-construction-module {
	background: url(/images/techs01.png) 0px 0px;
}

.cargo-pod {
	background: url(/images/techs01.png) 0px 0px;
}

.super-cargo-pod {
	background: url(/images/techs01.png) 0px 0px;
}

.fuel-tank {
	background: url(/images/techs01.png) 0px 0px;
}

.super-fuel-tank {
	background: url(/images/techs01.png) 0px 0px;
}

.maneuvering-jet {
	background: url(/images/techs01.png) 0px 0px;
}

.overthruster {
	background: url(/images/techs01.png) 0px 0px;
}

.beam-deflector {
	background: url(/images/techs01.png) 0px 0px;
}

.laser {
	background: url(/images/techs01.png) 0px 0px;
}

.x-ray-laser {
	background: url(/images/techs01.png) 0px 0px;
}

.mini-gun {
	background: url(/images/techs01.png) 0px 0px;
}

.yakimora-light-phaser {
	background: url(/images/techs01.png) 0px 0px;
}

.blackjack {
	background: url(/images/techs01.png) 0px 0px;
}

.phaser-bazooka {
	background: url(/images/techs01.png) 0px 0px;
}

.pulsed-sapper {
	background: url(/images/techs01.png) 0px 0px;
}

.colloidal-phaser {
	background: url(/images/techs01.png) 0px 0px;
}

.gatling-gun {
	background: url(/images/techs01.png) 0px 0px;
}

.mini-blaster {
	background: url(/images/techs01.png) 0px 0px;
}

.bludgeon {
	background: url(/images/techs01.png) 0px 0px;
}

.mark-iv-blaster {
	background: url(/images/techs01.png) 0px 0px;
}

.phased-sapper {
	background: url(/images/techs01.png) 0px 0px;
}

.heavy-blaster {
	background: url(/images/techs01.png) 0px 0px;
}

.gatling-neutrino-cannon {
	background: url(/images/techs01.png) 0px 0px;
}

.myopic-disruptor {
	background: url(/images/techs01.png) 0px 0px;
}

.blunderbuss {
	background: url(/images/techs01.png) 0px 0px;
}

.disruptor {
	background: url(/images/techs01.png) 0px 0px;
}

.syncro-sapper {
	background: url(/images/techs01.png) 0px 0px;
}

.mega-disruptor {
	background: url(/images/techs01.png) 0px 0px;
}

.big-mutha-cannon {
	background: url(/images/techs01.png) 0px 0px;
}

.streaming-pulverizer {
	background: url(/images/techs01.png) 0px 0px;
}

.anti-matter-pulverizer {
	background: url(/images/techs01.png) 0px 0px;
}

.alpha-torpedo {
	background: url(/images/techs01.png) -64px -192px;
}

.beta-torpedo {
	background: url(/images/techs01.png) -128px -192px;
}

.delta-torpedo {
	background: url(/images/techs01.png) -192px -192px;
}

.epsilon-torpedo {
	background: url(/images/techs01.png) -256px -192px;
}

.omega-torpedo {
	background: url(/images/techs01.png) -320px -192px;
}

.rho-torpedo {
	background: url(/images/techs01.png) -384px -192px;
}

.upsilon-torpedo {
	background: url(/images/techs01.png) -448px -192px;
}

.jihad-missile {
	background: url(/images/techs07.png) 0px -64px;
}

.juggernaut-missile {
	background: url(/images/techs07.png) -64px -64px;
}

.doomsday-missile {
	background: url(/images/techs07.png) -128px -64px;
}

.armageddon-missile {
	background: url(/images/techs07.png) -192px -64px;
}

.mole-skin-shield {
	background: url(/images/techs03.png) -128px -64px;
}

.cow-hide-shield {
	background: url(/images/techs03.png) -192px -64px;
}

.wolverine-diffuse-shield {
	background: url(/images/techs03.png) -256px -64px;
}

.croby-sharmor {
	background: url(/images/techs03.png) 0px -64px;
}

.shadow-shield {
	background: url(/images/techs03.png) -64px -64px;
}

.bear-neutrino-barrier {
	background: url(/images/techs03.png) -320px -64px;
}

.gorilla-delagator {
	background: url(/images/techs03.png) -384px -64px;
}

.elephant-hide-fortress {
	background: url(/images/techs03.png) -448px -64px;
}

.complete-phase-shield {
	background: url(/images/techs04.png) -448px -128px;
}

.total-terraform-3 {
	background: url(/images/techs06.png) 0px -192px;
}

.total-terraform-5 {
	background: url(/images/techs06.png) -64px -192px;
}

.total-terraform-7 {
	background: url(/images/techs06.png) -128px -192px;
}

.total-terraform-10 {
	background: url(/images/techs06.png) -192px -192px;
}

.total-terraform-15 {
	background: url(/images/techs06.png) -256px -192px;
}

.total-terraform-20 {
	background: url(/images/techs06.png) -256px -128px;
}

.total-terraform-25 {
	background: url(/images/techs06.png) -256px -64px;
}

.total-terraform-30 {
	background: url(/images/techs06.png) -256px 0px;
}

.gravity-terraform-3 {
	background: url(/images/techs06.png) 0px 0px;
}

.gravity-terraform-7 {
	background: url(/images/techs06.png) -64px 0px;
}

.gravity-terraform-11 {
	background: url(/images/techs06.png) -128px 0px;
}

.gravity-terraform-15 {
	background: url(/images/techs06.png) -192px 0px;
}

.temp-terraform-3 {
	background: url(/images/techs06.png) 0px -64px;
}

.temp-terraform-7 {
	background: url(/images/techs06.png) -64px -64px;
}

.temp-terraform-11 {
	background: url(/images/techs06.png) -128px -64px;
}

.temp-terraform-15 {
	background: url(/images/techs06.png) -192px -64px;
}

.radiation-terraform-3 {
	background: url(/images/techs06.png) 0px -128px;
}

.radiation-terraform-7 {
	background: url(/images/techs06.png) -64px -128px;
}

.radiation-terraform-11 {
	background: url(/images/techs06.png) -128px -128px;
}

.radiation-terraform-15 {
	background: url(/images/techs06.png) -192px -128px;
}

.hull-small-freighter-0 {
	background: url(/images/techhulls01.png) 0px 0px;
}

.hull-small-freighter-1 {
	background: url(/images/techhulls01.png) 0px -64px;
}

.hull-small-freighter-2 {
	background: url(/images/techhulls01.png) 0px -128px;
}

.hull-small-freighter-3 {
	background: url(/images/techhulls01.png) 0px -192px;
}

.hull-medium-freighter-0 {
	background: url(/images/techhulls01.png) -64px 0px;
}

.hull-medium-freighter-1 {
	background: url(/images/techhulls01.png) -64px -64px;
}

.hull-medium-freighter-2 {
	background: url(/images/techhulls01.png) -64px -128px;
}

.hull-medium-freighter-3 {
	background: url(/images/techhulls01.png) -64px -192px;
}

.hull-large-freighter-0 {
	background: url(/images/techhulls01.png) -128px 0px;
}

.hull-large-freighter-1 {
	background: url(/images/techhulls01.png) -128px -64px;
}

.hull-large-freighter-2 {
	background: url(/images/techhulls01.png) -128px -128px;
}

.hull-large-freighter-3 {
	background: url(/images/techhulls01.png) -128px -192px;
}

.hull-super-freighter-0 {
	background: url(/images/techhulls01.png) -192px 0px;
}

.hull-super-freighter-1 {
	background: url(/images/techhulls01.png) -192px -64px;
}

.hull-super-freighter-2 {
	background: url(/images/techhulls01.png) -192px -128px;
}

.hull-super-freighter-3 {
	background: url(/images/techhulls01.png) -192px -192px;
}

.hull-scout-0 {
	background: url(/images/techhulls01.png) -256px 0px;
}

.hull-scout-1 {
	background: url(/images/techhulls01.png) -256px -64px;
}

.hull-scout-2 {
	background: url(/images/techhulls01.png) -256px -128px;
}

.hull-scout-3 {
	background: url(/images/techhulls01.png) -256px -192px;
}

.hull-frigate-0 {
	background: url(/images/techhulls01.png) -320px 0px;
}

.hull-frigate-1 {
	background: url(/images/techhulls01.png) -320px -64px;
}

.hull-frigate-2 {
	background: url(/images/techhulls01.png) -320px -128px;
}

.hull-frigate-3 {
	background: url(/images/techhulls01.png) -320px -192px;
}

.hull-destroyer-0 {
	background: url(/images/techhulls01.png) -384px 0px;
}

.hull-destroyer-1 {
	background: url(/images/techhulls01.png) -384px -64px;
}

.hull-destroyer-2 {
	background: url(/images/techhulls01.png) -384px -128px;
}

.hull-destroyer-3 {
	background: url(/images/techhulls01.png) -384px -192px;
}

.hull-cruiser-0 {
	background: url(/images/techhulls01.png) -448px 0px;
}

.hull-cruiser-1 {
	background: url(/images/techhulls01.png) -448px -64px;
}

.hull-cruiser-2 {
	background: url(/images/techhulls01.png) -448px -128px;
}

.hull-cruiser-3 {
	background: url(/images/techhulls01.png) -448px -192px;
}

.hull-battle-cruiser-0 {
	background: url(/images/techhulls02.png) 0px 0px;
}

.hull-battle-cruiser-1 {
	background: url(/images/techhulls02.png) 0px -64px;
}

.hull-battle-cruiser-2 {
	background: url(/images/techhulls02.png) 0px -128px;
}

.hull-battle-cruiser-3 {
	background: url(/images/techhulls02.png) 0px -192px;
}

.hull-battleship-0 {
	background: url(/images/techhulls02.png) -64px 0px;
}

.hull-battleship-1 {
	background: url(/images/techhulls02.png) -64px -64px;
}

.hull-battleship-2 {
	background: url(/images/techhulls02.png) -64px -128px;
}

.hull-battleship-3 {
	background: url(/images/techhulls02.png) -64px -192px;
}

.hull-dreadnought-0 {
	background: url(/images/techhulls02.png) -128px 0px;
}

.hull-dreadnought-1 {
	background: url(/images/techhulls02.png) -128px -64px;
}

.hull-dreadnought-2 {
	background: url(/images/techhulls02.png) -128px -128px;
}

.hull-dreadnought-3 {
	background: url(/images/techhulls02.png) -128px -192px;
}

.hull-privateer-0 {
	background: url(/images/techhulls02.png) -192px 0px;
}

.hull-privateer-1 {
	background: url(/images/techhulls02.png) -192px -64px;
}

.hull-privateer-2 {
	background: url(/images/techhulls02.png) -192px -128px;
}

.hull-privateer-3 {
	background: url(/images/techhulls02.png) -192px -192px;
}

.hull-rogue-0 {
	background: url(/images/techhulls02.png) -256px 0px;
}

.hull-rogue-1 {
	background: url(/images/techhulls02.png) -256px -64px;
}

.hull-rogue-2 {
	background: url(/images/techhulls02.png) -256px -128px;
}

.hull-rogue-3 {
	background: url(/images/techhulls02.png) -256px -192px;
}

.hull-galleon-0 {
	background: url(/images/techhulls02.png) -320px 0px;
}

.hull-galleon-1 {
	background: url(/images/techhulls02.png) -320px -64px;
}

.hull-galleon-2 {
	background: url(/images/techhulls02.png) -320px -128px;
}

.hull-galleon-3 {
	background: url(/images/techhulls02.png) -320px -192px;
}

.hull-mini-colony-ship-0 {
	background: url(/images/techhulls02.png) -384px 0px;
}

.hull-mini-colony-ship-1 {
	background: url(/images/techhulls02.png) -384px -64px;
}

.hull-mini-colony-ship-2 {
	background: url(/images/techhulls02.png) -384px -128px;
}

.hull-mini-colony-ship-3 {
	background: url(/images/techhulls02.png) -384px -192px;
}

.hull-colony-ship-0 {
	background: url(/images/techhulls02.png) -448px 0px;
}

.hull-colony-ship-1 {
	background: url(/images/techhulls02.png) -448px -64px;
}

.hull-colony-ship-2 {
	background: url(/images/techhulls02.png) -448px -128px;
}

.hull-colony-ship-3 {
	background: url(/images/techhulls02.png) -448px -192px;
}

.hull-mini-bomber-0 {
	background: url(/images/techhulls03.png) 0px 0px;
}

.hull-mini-bomber-1 {
	background: url(/images/techhulls03.png) 0px -64px;
}

.hull-mini-bomber-2 {
	background: url(/images/techhulls03.png) 0px -128px;
}

.hull-mini-bomber-3 {
	background: url(/images/techhulls03.png) 0px -192px;
}

.hull-b-17-bomber-0 {
	background: url(/images/techhulls03.png) -64px 0px;
}

.hull-b-17-bomber-1 {
	background: url(/images/techhulls03.png) -64px -64px;
}

.hull-b-17-bomber-2 {
	background: url(/images/techhulls03.png) -64px -128px;
}

.hull-b-17-bomber-3 {
	background: url(/images/techhulls03.png) -64px -192px;
}

.hull-stealth-bomber-0 {
	background: url(/images/techhulls03.png) -128px 0px;
}

.hull-stealth-bomber-1 {
	background: url(/images/techhulls03.png) -128px -64px;
}

.hull-stealth-bomber-2 {
	background: url(/images/techhulls03.png) -128px -128px;
}

.hull-stealth-bomber-3 {
	background: url(/images/techhulls03.png) -128px -192px;
}

.hull-b-52-bomber-0 {
	background: url(/images/techhulls03.png) -192px 0px;
}

.hull-b-52-bomber-1 {
	background: url(/images/techhulls03.png) -192px -64px;
}

.hull-b-52-bomber-2 {
	background: url(/images/techhulls03.png) -192px -128px;
}

.hull-b-52-bomber-3 {
	background: url(/images/techhulls03.png) -192px -192px;
}

.hull-midget-miner-0 {
	background: url(/images/techhulls03.png) -256px 0px;
}

.hull-midget-miner-1 {
	background: url(/images/techhulls03.png) -256px -64px;
}

.hull-midget-miner-2 {
	background: url(/images/techhulls03.png) -256px -128px;
}

.hull-midget-miner-3 {
	background: url(/images/techhulls03.png) -256px -192px;
}

.hull-mini-miner-0 {
	background: url(/images/techhulls03.png) -320px 0px;
}

.hull-mini-miner-1 {
	background: url(/images/techhulls03.png) -320px -64px;
}

.hull-mini-miner-2 {
	background: url(/images/techhulls03.png) -320px -128px;
}

.hull-mini-miner-3 {
	background: url(/images/techhulls03.png) -320px -192px;
}

.hull-miner-0 {
	background: url(/images/techhulls03.png) -384px 0px;
}

.hull-miner-1 {
	background: url(/images/techhulls03.png) -384px -64px;
}

.hull-miner-2 {
	background: url(/images/techhulls03.png) -384px -128px;
}

.hull-miner-3 {
	background: url(/images/techhulls03.png) -384px -192px;
}

.hull-maxi-miner-0 {
	background: url(/images/techhulls03.png) -448px 0px;
}

.hull-maxi-miner-1 {
	background: url(/images/techhulls03.png) -448px -64px;
}

.hull-maxi-miner-2 {
	background: url(/images/techhulls03.png) -448px -128px;
}

.hull-maxi-miner-3 {
	background: url(/images/techhulls03.png) -448px -192px;
}

.hull-ultra-miner-0 {
	background: url(/images/techhulls04.png) 0px 0px;
}

.hull-ultra-miner-1 {
	background: url(/images/techhulls04.png) 0px -64px;
}

.hull-ultra-miner-2 {
	background: url(/images/techhulls04.png) 0px -128px;
}

.hull-ultra-miner-3 {
	background: url(/images/techhulls04.png) 0px -192px;
}

.hull-fuel-transport-0 {
	background: url(/images/techhulls04.png) -64px 0px;
}

.hull-fuel-transport-1 {
	background: url(/images/techhulls04.png) -64px -64px;
}

.hull-fuel-transport-2 {
	background: url(/images/techhulls04.png) -64px -128px;
}

.hull-fuel-transport-3 {
	background: url(/images/techhulls04.png) -64px -192px;
}

.hull-super-fuel-xport-0 {
	background: url(/images/techhulls04.png) -128px 0px;
}

.hull-super-fuel-xport-1 {
	background: url(/images/techhulls04.png) -128px -64px;
}

.hull-super-fuel-xport-2 {
	background: url(/images/techhulls04.png) -128px -128px;
}

.hull-super-fuel-xport-3 {
	background: url(/images/techhulls04.png) -128px -192px;
}

.hull-mini-mine-layer-0 {
	background: url(/images/techhulls04.png) -192px 0px;
}

.hull-mini-mine-layer-1 {
	background: url(/images/techhulls04.png) -192px -64px;
}

.hull-mini-mine-layer-2 {
	background: url(/images/techhulls04.png) -192px -128px;
}

.hull-mini-mine-layer-3 {
	background: url(/images/techhulls04.png) -192px -192px;
}

.hull-super-mine-layer-0 {
	background: url(/images/techhulls04.png) -256px 0px;
}

.hull-super-mine-layer-1 {
	background: url(/images/techhulls04.png) -256px -64px;
}

.hull-super-mine-layer-2 {
	background: url(/images/techhulls04.png) -256px -128px;
}

.hull-super-mine-layer-3 {
	background: url(/images/techhulls04.png) -256px -192px;
}

.hull-meta-morph-0 {
	background: url(/images/techhulls04.png) -320px 0px;
}

.hull-meta-morph-1 {
	background: url(/images/techhulls04.png) -320px -64px;
}

.hull-meta-morph-2 {
	background: url(/images/techhulls04.png) -320px -128px;
}

.hull-meta-morph-3 {
	background: url(/images/techhulls04.png) -320px -192px;
}

.hull-mini-morph-0 {
	background: url(/images/techhulls04.png) -384px 0px;
}

.hull-mini-morph-1 {
	background: url(/images/techhulls04.png) -384px -64px;
}

.hull-mini-morph-2 {
	background: url(/images/techhulls04.png) -384px -128px;
}

.hull-mini-morph-3 {
	background: url(/images/techhulls04.png) -384px -192px;
}

.hull-nubian-0 {
	background: url(/images/techhulls04.png) -448px 0px;
}

.hull-nubian-1 {
	background: url(/images/techhulls04.png) -448px -64px;
}

.hull-nubian-2 {
	background: url(/images/techhulls04.png) -448px -128px;
}

.hull-nubian-3 {
	background: url(/images/techhulls04.png) -448px -192px;
}

.hull-orbital-fort-0 {
	background: url(/images/starbases.png) -0px -0px;
}

.hull-orbital-fort-1 {
	background: url(/images/starbases.png) -0px -64px;
}

.hull-orbital-fort-2 {
	background: url(/images/starbases.png) -0px -128px;
}

.hull-orbital-fort-3 {
	background: url(/images/starbases.png) -0px -192px;
}

.hull-space-dock-0 {
	background: url(/images/starbases.png) -64px -0px;
}

.hull-space-dock-1 {
	background: url(/images/starbases.png) -64px -64px;
}

.hull-space-dock-2 {
	background: url(/images/starbases.png) -64px -128px;
}

.hull-space-dock-3 {
	background: url(/images/starbases.png) -64px -192px;
}

.hull-space-station-0 {
	background: url(/images/starbases.png) -128px -0px;
}

.hull-space-station-1 {
	background: url(/images/starbases.png) -128px -64px;
}

.hull-space-station-2 {
	background: url(/images/starbases.png) -128px -128px;
}

.hull-space-station-3 {
	background: url(/images/starbases.png) -128px -192px;
}

.hull-ultra-station-0 {
	background: url(/images/starbases.png) -192px -0px;
}

.hull-ultra-station-1 {
	background: url(/images/starbases.png) -192px -64px;
}

.hull-ultra-station-2 {
	background: url(/images/starbases.png) -192px -128px;
}

.hull-ultra-station-3 {
	background: url(/images/starbases.png) -192px -192px;
}

.hull-death-star-0 {
	background: url(/images/starbases.png) -256px -0px;
}

.hull-death-star-1 {
	background: url(/images/starbases.png) -256px -64px;
}

.hull-death-star-2 {
	background: url(/images/starbases.png) -256px -128px;
}

.hull-death-star-3 {
	background: url(/images/starbases.png) -256px -192px;
}
