name: Release
on:
  push:
    tags:
      - '**'
jobs:
  build:
    if: github.repository == 'sirgwain/craig-stars'
    strategy:
      matrix:
        go-version: [1.21.x]
        node-version: [18]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      # get some build metadata we can put in the binary and package.json
      - name: Get version tag
        id: version
        run: echo "${GITHUB_REF/\/refs\/tags\/}" >> $GITHUB_OUTPUT
      - name: Get build time
        id: buildTime
        run: echo `date +'%y.%m.%d %H:%M:%S'` >> $GITHUB_OUTPUT

      # build the frontend (this is slow)
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json        
      - run: npm install
        working-directory: ./frontend
      - run: jq ".version = \"${{ steps.version.outputs.tag }}\"" package.json > package.json.tmp && mv package.json.tmp package.json
        working-directory: ./frontend
      - run: npm run build
        working-directory: ./frontend
      - run: mkdir -p dist/
      - run: tar -cvf ./dist/frontend.tgz -C frontend/build .

      # build the binary (this embeds the frontend built above for local runs)
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true    
      - run: mkdir -p dist/
      - run: |
          go mod tidy && \
          CGO_ENABLED=1 GOARCH=amd64 GOOS=linux go build \
          -ldflags="-s -w -extldflags '-static' \
          -X 'github.com/sirgwain/craig-stars/cmd.semver=${{ steps.version.outputs.tag }}' \
          -X 'github.com/sirgwain/craig-stars/cmd.commit=${GITHUB_SHA}' \
          -X 'github.com/sirgwain/craig-stars/cmd.buildTime=${{ steps.version.outputs.tag }}'" \
          -o dist/craig-stars main.go
      - run: tar -cvf ./dist/craig-stars.tgz -C ./dist ./craig-stars

      # upload the dist folder to github's artifacts
      - uses: actions/upload-artifact@v3
        with:
          name: dist-artifact
          path: ./dist/
          retention-days: 1


  release:
    if: github.repository == 'sirgwain/craig-stars'
    runs-on: ubuntu-latest
    name: Create release
    needs: [build]
    permissions:
      contents: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: Create release
        id: create_release
        uses: ncipollo/release-action@v1.8.10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Published ${{ github.ref_name }}
          artifacts: ./artifacts/*.tgz
          artifactContentType: application/zip
          generateReleaseNotes: true

